{% extends 'learningPlatform/base.html' %}
{% load static %}
{% block title %}Change Your Password{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block nav %}
<header>
    <a href="{% url 'home' %}" class="logo-link">
        <img src="{% static 'images/enmar_logo.jpeg' %}" alt="Enmar Logo" class="enmar-logo">
    </a>
    <div class="navigation-profile">
        <div class="navigation">
            <a href="{% url 'home' %}" class="nav-btn">Home</a>
            <a href="{% url 'logout' %}" class="nav-btn">Logout</a>
        </div>
        <div class="profile">
            <a href="{% url 'profile' %}">
                <img src="{{ user.profile.image.url }}" alt="User Profile" class="profile-pic">
                <span>{{ user.username }}</span>
            </a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<section class="change-password-section">
    <div class="container">
        <h1>Change Password</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="old_password">Old Password</label>
                <input type="password" id="old_password" name="old_password" required>
            </div>
            <div class="form-group">
                <label for="new_password1">New Password</label>
                <input type="password" id="new_password1" name="new_password1" required>
            </div>
            <div class="form-group">
                <label for="new_password2">Confirm New Password</label>
                <input type="password" id="new_password2" name="new_password2" required>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</section>
{% endblock %}
